# Preprocessing -- generate sentiment truth labels/scores

Use SentimentIntensityAnalyzer() to generate scores/labels as ground truth. Train neural networks to classify Twitter sentiments and compare to generated labels. Stock ticker tweets from 2015-2022

In [4]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [10]:
!which python

/Users/setone/miniforge3/envs/tf-gpu/bin/python

In [5]:
tweets = pd.read_csv('stock_tweets.csv', parse_dates=['Date'])
stocks = pd.read_csv('stock_yfinance_data.csv')
co_values = pd.read_csv('CompanyValues.csv')
co_tweets = pd.read_csv('Company_Tweet.csv')
Tweet = pd.read_csv('Tweet.csv')
scraped = pd.read_csv('scraped_tweets_2014_2019.csv', lineterminator='\n')
scraped2 = pd.read_csv('scraped_tweets_2020_2021.csv', lineterminator='\n')

In [7]:
scraped

,Date,Tweet,Stock Name,Company Name
0,2019-12-30 18:57:27+00:00,The Best Way to See Finland? Ski Finland :: tw...,PG,Procter & Gamble Company
1,2019-12-30 17:54:38+00:00,Boarding schools warp our political class :: t...,PG,Procter & Gamble Company
2,2019-12-30 16:08:38+00:00,Premier League title race surely over as Wolve...,PG,Procter & Gamble Company
3,2019-12-30 16:05:42+00:00,Why No One Can Talk About The Attacks Against ...,PG,Procter & Gamble Company
4,2019-12-30 15:49:24+00:00,Can You Trust TripAdvisor Restaurant Reviews? ...,PG,Procter & Gamble Company
...,...,...,...,...
136379,2015-01-09 14:03:50+00:00,@zs@pnp_pro9 @ZsppoPcr @zsppo conducted visita...,ZS,"Zscaler, Inc."
136380,2015-01-09 04:15:07+00:00,Al @zs zeynepsu,ZS,"Zscaler, Inc."
136381,2015-01-06 12:24:25+00:00,Opportunities for Front End Developers @ZS ZS ...,ZS,"Zscaler, Inc."
136382,2015-01-05 16:19:58+00:00,@Kungsfiskarens Sorry but that's not what we d...,ZS,"Zscaler, Inc."
136383,2014-12-31 13:30:02+00:00,Aku mah ga boleh sama dia katanya ga sehat git...,ZS,"Zscaler, Inc."

In [8]:
scraped2

,Date,Tweet,Stock Name,Company Name
0,2021-09-28 19:33:59+00:00,"@GasOff2 @EV_Stevee @WholeMarsBlog @TSLA No, y...",TSLA,"Tesla, Inc."
1,2021-09-28 19:28:46+00:00,@gerardfianen @EV_Stevee @WholeMarsBlog @TSLA ...,TSLA,"Tesla, Inc."
2,2021-09-28 19:13:52+00:00,@GasOff2 @EV_Stevee @WholeMarsBlog 2/2 \nBut f...,TSLA,"Tesla, Inc."
3,2021-09-28 06:29:50+00:00,One day we will earn passive income from the 🌞...,TSLA,"Tesla, Inc."
4,2021-09-28 02:15:37+00:00,@_khiemngo_ @MrJames__321 @squawksquare @TSLA ...,TSLA,"Tesla, Inc."
...,...,...,...,...
25710,2020-12-21 23:00:54+00:00,"@GM, @Apple , @amazon are buy @NIO, @LI, @XP...",XPEV,XPeng Inc.
25711,2020-11-23 14:13:06+00:00,@Stocktwits $baba $nio $blnk $li @xpev,XPEV,XPeng Inc.
25712,2020-11-23 02:14:47+00:00,"Más que claro porque hay que comprar @NIO, @XP...",XPEV,XPeng Inc.
25713,2020-11-20 17:19:07+00:00,@SuperDuperInvst @xpev looking good 2day.Looki...,XPEV,XPeng Inc.
25714,2020-08-27 16:20:47+00:00,"Waiting for tonight, owow @XPEV",XPEV,XPeng Inc.

In [9]:
scraped_combined = pd.DataFrame(np.vstack((scraped2.values, scraped.values)))
scraped_combined = scraped_combined[scraped_combined.columns[:-1]]
scraped_combined.columns =['Date', 'Content', 'ticker']
scraped_combined

,Date,Content,ticker
0,2021-09-28 19:33:59+00:00,"@GasOff2 @EV_Stevee @WholeMarsBlog @TSLA No, y...",TSLA
1,2021-09-28 19:28:46+00:00,@gerardfianen @EV_Stevee @WholeMarsBlog @TSLA ...,TSLA
2,2021-09-28 19:13:52+00:00,@GasOff2 @EV_Stevee @WholeMarsBlog 2/2 \nBut f...,TSLA
3,2021-09-28 06:29:50+00:00,One day we will earn passive income from the 🌞...,TSLA
4,2021-09-28 02:15:37+00:00,@_khiemngo_ @MrJames__321 @squawksquare @TSLA ...,TSLA
...,...,...,...
162094,2015-01-09 14:03:50+00:00,@zs@pnp_pro9 @ZsppoPcr @zsppo conducted visita...,ZS
162095,2015-01-09 04:15:07+00:00,Al @zs zeynepsu,ZS
162096,2015-01-06 12:24:25+00:00,Opportunities for Front End Developers @ZS ZS ...,ZS
162097,2015-01-05 16:19:58+00:00,@Kungsfiskarens Sorry but that's not what we d...,ZS
162098,2014-12-31 13:30:02+00:00,Aku mah ga boleh sama dia katanya ga sehat git...,ZS

In [10]:
Tweet

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
...,...,...,...,...,...,...,...
3717959,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6
3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
3717961,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1
3717963,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0

In [11]:
from datetime import datetime
Tweet['post_date'] = pd.to_datetime(Tweet['post_date'],unit='s')

In [12]:
co_tweets

                    tweet_id ticker_symbol
0         550803612197457920          AAPL
1         550803610825928706          AAPL
2         550803225113157632          AAPL
3         550802957370159104          AAPL
4         550802855129382912          AAPL
...                      ...           ...
4336440  1212158772015034369          TSLA
4336441  1212159099632267268          TSLA
4336442  1212159184931717120          TSLA
4336443  1212159838882533376          TSLA
4336444  1212160015332728833          TSLA

[4336445 rows x 2 columns]

In [13]:
co_tweets = co_tweets.replace(to_replace="GOOGL", value="GOOG")

In [14]:
combined = pd.merge(Tweet, co_tweets, on=["tweet_id"])
combined

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441509175443456,VisualStockRSRC,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL
1,550441672312512512,KeralaGuy77,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
2,550441732014223360,DozenStocks,2015-01-01 00:01:50,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,AMZN
3,550442977802207232,ShowDreamCar,2015-01-01 00:06:47,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA
4,550443807834402816,i_Know_First,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL
...,...,...,...,...,...,...,...,...
4336440,1212159838882533376,ShortingIsFun,2019-12-31 23:53:21,In 2020 I may start Tweeting out positive news...,0,0,1,TSLA
4336441,1212160015332728833,Commuternyc,2019-12-31 23:54:03,Patiently Waiting for the no twitter sitter tw...,0,0,5,TSLA
4336442,1212160410692046849,MoriaCrypto,2019-12-31 23:55:37,I don't discriminate. I own both $aapl and $ms...,1,0,1,AAPL
4336443,1212160410692046849,MoriaCrypto,2019-12-31 23:55:37,I don't discriminate. I own both $aapl and $ms...,1,0,1,MSFT
4336444,1212160477159206912,treabase,2019-12-31 23:55:53,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0,AAPL

In [15]:
df1 = combined[['post_date', 'body', 'ticker_symbol']]
df1

,post_date,body,ticker_symbol
0,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",AAPL
1,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,AAPL
2,2015-01-01 00:01:50,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,AMZN
3,2015-01-01 00:06:47,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,TSLA
4,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,AAPL
...,...,...,...
4336440,2019-12-31 23:53:21,In 2020 I may start Tweeting out positive news...,TSLA
4336441,2019-12-31 23:54:03,Patiently Waiting for the no twitter sitter tw...,TSLA
4336442,2019-12-31 23:55:37,I don't discriminate. I own both $aapl and $ms...,AAPL
4336443,2019-12-31 23:55:37,I don't discriminate. I own both $aapl and $ms...,MSFT
4336444,2019-12-31 23:55:53,"$AAPL #patent 10,522,475 Vertical interconnect...",AAPL

In [16]:
df2 = tweets[['Date', 'Tweet', 'Stock Name']]
df2

,Date,Tweet,Stock Name
0,2022-09-29 23:41:16+00:00,Mainstream media has done an amazing job at br...,TSLA
1,2022-09-29 23:24:43+00:00,Tesla delivery estimates are at around 364k fr...,TSLA
2,2022-09-29 23:18:08+00:00,3/ Even if I include 63.0M unvested RSUs as of...,TSLA
3,2022-09-29 22:40:07+00:00,@RealDanODowd @WholeMarsBlog @Tesla Hahaha why...,TSLA
4,2022-09-29 22:27:05+00:00,"@RealDanODowd @Tesla Stop trying to kill kids,...",TSLA
...,...,...,...
80788,2021-10-07 17:11:57+00:00,Some of the fastest growing tech stocks on the...,XPEV
80789,2021-10-04 17:05:59+00:00,"With earnings on the horizon, here is a quick ...",XPEV
80790,2021-10-01 04:43:41+00:00,Our record delivery results are a testimony of...,XPEV
80791,2021-10-01 00:03:32+00:00,"We delivered 10,412 Smart EVs in Sep 2021, rea...",XPEV
80792,2021-09-30 10:22:52+00:00,Why can XPeng P5 deliver outstanding performan...,XPEV

In [17]:
new_frame = pd.DataFrame(np.vstack((df1.values, df2.values)))
new_frame.columns =['Date', 'Content', 'ticker']
new_frame

,Date,Content,ticker
0,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",AAPL
1,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,AAPL
2,2015-01-01 00:01:50,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,AMZN
3,2015-01-01 00:06:47,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,TSLA
4,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,AAPL
...,...,...,...
4417233,2021-10-07 17:11:57+00:00,Some of the fastest growing tech stocks on the...,XPEV
4417234,2021-10-04 17:05:59+00:00,"With earnings on the horizon, here is a quick ...",XPEV
4417235,2021-10-01 04:43:41+00:00,Our record delivery results are a testimony of...,XPEV
4417236,2021-10-01 00:03:32+00:00,"We delivered 10,412 Smart EVs in Sep 2021, rea...",XPEV
4417237,2021-09-30 10:22:52+00:00,Why can XPeng P5 deliver outstanding performan...,XPEV

In [19]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

new_frame['score'] = new_frame['Content'].apply(lambda x: sia.polarity_scores(x)['compound'])
# create label
new_frame['label'] = pd.cut(np.array(new_frame['score']),bins=[-1, -0.66, 0.32, 1], right=True,
                          labels=["negative", "neutral", "positive"])

In [20]:
scraped_combined['score'] = scraped_combined['Content'].apply(lambda x: sia.polarity_scores(x)['compound'])
scraped_combined['label'] = pd.cut(np.array(scraped_combined['score']),bins=[-1, -0.66, 0.32, 1], right=True,
                          labels=["negative", "neutral", "positive"])

In [21]:
all_df = pd.DataFrame(np.vstack((new_frame.values, scraped_combined.values)))
all_df.columns =['Date', 'Content', 'ticker', 'score', 'label']
all_df

,Date,Content,ticker,score,label
0,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",AAPL,0.0,neutral
1,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,AAPL,-0.8271,negative
2,2015-01-01 00:01:50,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,AMZN,-0.4278,neutral
3,2015-01-01 00:06:47,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,TSLA,0.0,neutral
4,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,AAPL,0.0,neutral
...,...,...,...,...,...
4579332,2015-01-09 14:03:50+00:00,@zs@pnp_pro9 @ZsppoPcr @zsppo conducted visita...,ZS,0.0,neutral
4579333,2015-01-09 04:15:07+00:00,Al @zs zeynepsu,ZS,0.0,neutral
4579334,2015-01-06 12:24:25+00:00,Opportunities for Front End Developers @ZS ZS ...,ZS,0.4389,positive
4579335,2015-01-05 16:19:58+00:00,@Kungsfiskarens Sorry but that's not what we d...,ZS,-0.1134,neutral
4579336,2014-12-31 13:30:02+00:00,Aku mah ga boleh sama dia katanya ga sehat git...,ZS,0.0,neutral

In [36]:
#all_df.to_csv('all_stock_score.csv')