In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
tweets = pd.read_csv('stock_tweets.csv', parse_dates=['Date'])
stocks = pd.read_csv('stock_yfinance_data.csv')
co_values = pd.read_csv('CompanyValues.csv')
co_tweets = pd.read_csv('Company_Tweet.csv')
Tweet = pd.read_csv('Tweet.csv')

In [14]:
Tweet

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,2015-01-01 00:01:50,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,2015-01-01 00:06:47,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
...,...,...,...,...,...,...,...
3717959,1212159765914079234,TEEELAZER,2019-12-31 23:53:03,That $SPY $SPX puuump in the last hour was the...,1,0,6
3717960,1212159838882533376,ShortingIsFun,2019-12-31 23:53:21,In 2020 I may start Tweeting out positive news...,0,0,1
3717961,1212160015332728833,Commuternyc,2019-12-31 23:54:03,Patiently Waiting for the no twitter sitter tw...,0,0,5
3717962,1212160410692046849,MoriaCrypto,2019-12-31 23:55:37,I don't discriminate. I own both $aapl and $ms...,1,0,1
3717963,1212160477159206912,treabase,2019-12-31 23:55:53,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0

In [13]:
from datetime import datetime
Tweet['post_date'] = pd.to_datetime(Tweet['post_date'],unit='s')

In [8]:
co_tweets

                    tweet_id ticker_symbol
0         550803612197457920          AAPL
1         550803610825928706          AAPL
2         550803225113157632          AAPL
3         550802957370159104          AAPL
4         550802855129382912          AAPL
...                      ...           ...
4336440  1212158772015034369          TSLA
4336441  1212159099632267268          TSLA
4336442  1212159184931717120          TSLA
4336443  1212159838882533376          TSLA
4336444  1212160015332728833          TSLA

[4336445 rows x 2 columns]

In [26]:
co_tweets = co_tweets.replace(to_replace="GOOGL", value="GOOG")

In [28]:
combined = pd.merge(Tweet, co_tweets, on=["tweet_id"])
combined

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441509175443456,VisualStockRSRC,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL
1,550441672312512512,KeralaGuy77,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
2,550441732014223360,DozenStocks,2015-01-01 00:01:50,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,AMZN
3,550442977802207232,ShowDreamCar,2015-01-01 00:06:47,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA
4,550443807834402816,i_Know_First,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL
...,...,...,...,...,...,...,...,...
4336440,1212159838882533376,ShortingIsFun,2019-12-31 23:53:21,In 2020 I may start Tweeting out positive news...,0,0,1,TSLA
4336441,1212160015332728833,Commuternyc,2019-12-31 23:54:03,Patiently Waiting for the no twitter sitter tw...,0,0,5,TSLA
4336442,1212160410692046849,MoriaCrypto,2019-12-31 23:55:37,I don't discriminate. I own both $aapl and $ms...,1,0,1,AAPL
4336443,1212160410692046849,MoriaCrypto,2019-12-31 23:55:37,I don't discriminate. I own both $aapl and $ms...,1,0,1,MSFT
4336444,1212160477159206912,treabase,2019-12-31 23:55:53,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0,AAPL

In [29]:
df1 = combined[['post_date', 'body', 'ticker_symbol']]
df1

,post_date,body,ticker_symbol
0,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",AAPL
1,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,AAPL
2,2015-01-01 00:01:50,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,AMZN
3,2015-01-01 00:06:47,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,TSLA
4,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,AAPL
...,...,...,...
4336440,2019-12-31 23:53:21,In 2020 I may start Tweeting out positive news...,TSLA
4336441,2019-12-31 23:54:03,Patiently Waiting for the no twitter sitter tw...,TSLA
4336442,2019-12-31 23:55:37,I don't discriminate. I own both $aapl and $ms...,AAPL
4336443,2019-12-31 23:55:37,I don't discriminate. I own both $aapl and $ms...,MSFT
4336444,2019-12-31 23:55:53,"$AAPL #patent 10,522,475 Vertical interconnect...",AAPL

In [30]:
df2 = tweets[['Date', 'Tweet', 'Stock Name']]
df2

,Date,Tweet,Stock Name
0,2022-09-29 23:41:16+00:00,Mainstream media has done an amazing job at br...,TSLA
1,2022-09-29 23:24:43+00:00,Tesla delivery estimates are at around 364k fr...,TSLA
2,2022-09-29 23:18:08+00:00,3/ Even if I include 63.0M unvested RSUs as of...,TSLA
3,2022-09-29 22:40:07+00:00,@RealDanODowd @WholeMarsBlog @Tesla Hahaha why...,TSLA
4,2022-09-29 22:27:05+00:00,"@RealDanODowd @Tesla Stop trying to kill kids,...",TSLA
...,...,...,...
80788,2021-10-07 17:11:57+00:00,Some of the fastest growing tech stocks on the...,XPEV
80789,2021-10-04 17:05:59+00:00,"With earnings on the horizon, here is a quick ...",XPEV
80790,2021-10-01 04:43:41+00:00,Our record delivery results are a testimony of...,XPEV
80791,2021-10-01 00:03:32+00:00,"We delivered 10,412 Smart EVs in Sep 2021, rea...",XPEV
80792,2021-09-30 10:22:52+00:00,Why can XPeng P5 deliver outstanding performan...,XPEV

In [31]:
new_frame = pd.DataFrame(np.vstack((df1.values, df2.values)))
new_frame.columns =['Date', 'Content', 'ticker']
new_frame

,Date,Content,ticker
0,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",AAPL
1,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,AAPL
2,2015-01-01 00:01:50,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,AMZN
3,2015-01-01 00:06:47,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,TSLA
4,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,AAPL
...,...,...,...
4417233,2021-10-07 17:11:57+00:00,Some of the fastest growing tech stocks on the...,XPEV
4417234,2021-10-04 17:05:59+00:00,"With earnings on the horizon, here is a quick ...",XPEV
4417235,2021-10-01 04:43:41+00:00,Our record delivery results are a testimony of...,XPEV
4417236,2021-10-01 00:03:32+00:00,"We delivered 10,412 Smart EVs in Sep 2021, rea...",XPEV
4417237,2021-09-30 10:22:52+00:00,Why can XPeng P5 deliver outstanding performan...,XPEV

In [32]:
np.unique(new_frame['ticker'])

array(['AAPL', 'AMD', 'AMZN', 'BA', 'BX', 'COST', 'CRM', 'DIS', 'ENPH',
       'F', 'GOOG', 'INTC', 'KO', 'META', 'MSFT', 'NFLX', 'NIO', 'NOC',
       'PG', 'PYPL', 'TSLA', 'TSM', 'VZ', 'XPEV', 'ZS'], dtype=object)

In [33]:
sia = SentimentIntensityAnalyzer()

new_frame['score'] = new_frame['Content'].apply(lambda x: sia.polarity_scores(x)['compound'])
# create label
new_frame['label'] = pd.cut(np.array(new_frame['score']),bins=[-1, -0.66, 0.32, 1], right=True,
                          labels=["negative", "neutral", "positive"])

In [38]:
new_frame

,Date,Content,ticker,score,label
0,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",AAPL,0.0000,neutral
1,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,AAPL,-0.8271,negative
2,2015-01-01 00:01:50,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,AMZN,-0.4278,neutral
3,2015-01-01 00:06:47,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,TSLA,0.0000,neutral
4,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,AAPL,0.0000,neutral
...,...,...,...,...,...
4417233,2021-10-07 17:11:57+00:00,Some of the fastest growing tech stocks on the...,XPEV,0.1779,neutral
4417234,2021-10-04 17:05:59+00:00,"With earnings on the horizon, here is a quick ...",XPEV,0.3818,positive
4417235,2021-10-01 04:43:41+00:00,Our record delivery results are a testimony of...,XPEV,0.4215,positive
4417236,2021-10-01 00:03:32+00:00,"We delivered 10,412 Smart EVs in Sep 2021, rea...",XPEV,0.5423,positive
4417237,2021-09-30 10:22:52+00:00,Why can XPeng P5 deliver outstanding performan...,XPEV,0.7783,positive

In [36]:
#new_frame.to_csv('stock_score.csv')

In [9]:
co_values

,ticker_symbol,day_date,close_value,volume,open_value,high_value,low_value
0,AAPL,2020-05-29,317.94,38399530,319.25,321.15,316.4700
1,AAPL,2020-05-28,318.25,33449100,316.77,323.44,315.6300
2,AAPL,2020-05-27,318.11,28236270,316.14,318.71,313.0900
3,AAPL,2020-05-26,316.73,31380450,323.50,324.24,316.5000
4,AAPL,2020-05-22,318.89,20450750,315.77,319.23,315.3500
...,...,...,...,...,...,...,...
17523,TSLA,2019-12-21,405.59,14785210,410.29,413.00,400.1850
17524,TSLA,2019-12-22,405.59,14785210,410.29,413.00,400.1850
17525,TSLA,2019-12-25,425.25,8054720,418.36,425.47,412.6875
17526,TSLA,2019-12-28,430.38,9956827,435.00,435.31,426.1100
17527,TSLA,2019-12-29,430.38,9956827,435.00,435.31,426.1100

In [4]:
tweets

,Date,Tweet,Stock Name,Company Name
0,2022-09-29 23:41:16+00:00,Mainstream media has done an amazing job at br...,TSLA,"Tesla, Inc."
1,2022-09-29 23:24:43+00:00,Tesla delivery estimates are at around 364k fr...,TSLA,"Tesla, Inc."
2,2022-09-29 23:18:08+00:00,3/ Even if I include 63.0M unvested RSUs as of...,TSLA,"Tesla, Inc."
3,2022-09-29 22:40:07+00:00,@RealDanODowd @WholeMarsBlog @Tesla Hahaha why...,TSLA,"Tesla, Inc."
4,2022-09-29 22:27:05+00:00,"@RealDanODowd @Tesla Stop trying to kill kids,...",TSLA,"Tesla, Inc."
...,...,...,...,...
80788,2021-10-07 17:11:57+00:00,Some of the fastest growing tech stocks on the...,XPEV,XPeng Inc.
80789,2021-10-04 17:05:59+00:00,"With earnings on the horizon, here is a quick ...",XPEV,XPeng Inc.
80790,2021-10-01 04:43:41+00:00,Our record delivery results are a testimony of...,XPEV,XPeng Inc.
80791,2021-10-01 00:03:32+00:00,"We delivered 10,412 Smart EVs in Sep 2021, rea...",XPEV,XPeng Inc.
80792,2021-09-30 10:22:52+00:00,Why can XPeng P5 deliver outstanding performan...,XPEV,XPeng Inc.

In [5]:
stocks

,Date,Open,High,Low,Close,Adj Close,Volume,Stock Name
0,2021-09-30,260.333344,263.043335,258.333344,258.493347,258.493347,53868000,TSLA
1,2021-10-01,259.466675,260.260010,254.529999,258.406677,258.406677,51094200,TSLA
2,2021-10-04,265.500000,268.989990,258.706665,260.510010,260.510010,91449900,TSLA
3,2021-10-05,261.600006,265.769989,258.066681,260.196655,260.196655,55297800,TSLA
4,2021-10-06,258.733337,262.220001,257.739990,260.916656,260.916656,43898400,TSLA
...,...,...,...,...,...,...,...,...
6295,2022-09-23,13.090000,13.892000,12.860000,13.710000,13.710000,28279600,XPEV
6296,2022-09-26,14.280000,14.830000,14.070000,14.370000,14.370000,27891300,XPEV
6297,2022-09-27,14.580000,14.800000,13.580000,13.710000,13.710000,21160800,XPEV
6298,2022-09-28,13.050000,13.421000,12.690000,13.330000,13.330000,31799400,XPEV
6299,2022-09-29,12.550000,12.850000,11.850000,12.110000,12.110000,33044800,XPEV